<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simo.meitan.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.simo.meitan.model.Category">
    <!--@mbg.generated-->
    <!--@Table category-->
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="categoryText" jdbcType="VARCHAR" property="categorytext" />
    <result column="num" jdbcType="BIGINT" property="num" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    category, categoryText, num
  </sql>
  <insert id="insert" parameterType="com.simo.meitan.model.Category">
    <!--@mbg.generated-->
    insert into category (category, categoryText, num
      )
    values (#{category,jdbcType=INTEGER}, #{categorytext,jdbcType=VARCHAR}, #{num,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.simo.meitan.model.Category">
    <!--@mbg.generated-->
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="category != null">
        category,
      </if>
      <if test="categorytext != null">
        categoryText,
      </if>
      <if test="num != null">
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="categorytext != null">
        #{categorytext,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-07-07-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
        <where>
            <if test="category != null">
                and category=#{category,jdbcType=INTEGER}
            </if>
            <if test="categorytext != null">
                and categoryText=#{categorytext,jdbcType=VARCHAR}
            </if>
            <if test="num != null">
                and num=#{num,jdbcType=BIGINT}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-07-07-->
  <select id="selectCategory" resultType="java.lang.Integer">
    select category
    from category
  </select>

<!--auto generated by MybatisCodeHelper on 2020-07-07-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
    </select>

<!--auto generated by MybatisCodeHelper on 2020-07-07-->
  <select id="selectAllOrderByCategory" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category order by category asc
    </select>
</mapper>