<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simo.meitan.mapper.PtRoleMapper">
  <resultMap id="BaseResultMap" type="com.simo.meitan.model.PtRole">
    <!--@mbg.generated-->
    <!--@Table pt_role-->
    <id column="role_uuid" jdbcType="VARCHAR" property="roleUuid" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_uuid, role_id, role_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pt_role
    where role_uuid = #{roleUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from pt_role
    where role_uuid = #{roleUuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.simo.meitan.model.PtRole">
    <!--@mbg.generated-->
    insert into pt_role (role_uuid, role_id, role_name
      )
    values (#{roleUuid,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.simo.meitan.model.PtRole">
    <!--@mbg.generated-->
    insert into pt_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleUuid != null and roleUuid != ''">
        role_uuid,
      </if>
      <if test="roleId != null and roleId != ''">
        role_id,
      </if>
      <if test="roleName != null and roleName != ''">
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleUuid != null and roleUuid != ''">
        #{roleUuid,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null and roleId != ''">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null and roleName != ''">
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simo.meitan.model.PtRole">
    <!--@mbg.generated-->
    update pt_role
    <set>
      <if test="roleId != null and roleId != ''">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null and roleName != ''">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where role_uuid = #{roleUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simo.meitan.model.PtRole">
    <!--@mbg.generated-->
    update pt_role
    set role_id = #{roleId,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR}
    where role_uuid = #{roleUuid,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-07-15-->
  <select id="selectAllByRoleNameLikeAndRoleIdLike" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pt_role
    <where>
      <if test="likeRoleName != null and likeRoleName != ''">
        role_name like concat('%',#{likeRoleName,jdbcType=VARCHAR},'%')
      </if>
      <if test="likeRoleId != null and likeRoleId != ''">
        and role_id like concat('%',#{likeRoleId,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-07-15-->
  <select id="selectall" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pt_role
  </select>
</mapper>