<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simo.meitan.mapper.PtRolesMenusMapper">
  <resultMap id="BaseResultMap" type="com.simo.meitan.model.PtRolesMenus">
    <!--@mbg.generated-->
    <!--@Table pt_roles_menus-->
    <id column="role_uuid" jdbcType="VARCHAR" property="roleUuid" />
    <id column="menu_uuid" jdbcType="VARCHAR" property="menuUuid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_uuid, menu_uuid
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from pt_roles_menus
    where role_uuid = #{roleUuid,jdbcType=VARCHAR}
      and menu_uuid = #{menuUuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.simo.meitan.model.PtRolesMenus">
    <!--@mbg.generated-->
    insert into pt_roles_menus (role_uuid, menu_uuid)
    values (#{roleUuid,jdbcType=VARCHAR}, #{menuUuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.simo.meitan.model.PtRolesMenus">
    <!--@mbg.generated-->
    insert into pt_roles_menus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleUuid != null and roleUuid != ''">
        role_uuid,
      </if>
      <if test="menuUuid != null and menuUuid != ''">
        menu_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleUuid != null and roleUuid != ''">
        #{roleUuid,jdbcType=VARCHAR},
      </if>
      <if test="menuUuid != null and menuUuid != ''">
        #{menuUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getPermissionListByRoleUuid" resultType="String">
    select permission from pt_roles_menus as map,pt_menu menu
    where map.role_uuid=#{roleUuid}
    and map.menu_uuid=menu.menu_uuid
  </select>

<!--auto generated by MybatisCodeHelper on 2020-07-19-->
  <delete id="deleteByRoleUuid">
    delete from pt_roles_menus
    where role_uuid=#{roleUuid,jdbcType=VARCHAR}
  </delete>

  <insert id="addMenus">
    insert into pt_roles_menus(role_uuid, menu_uuid) VALUES
    <foreach collection="menuList" item="resId" separator=",">
      (#{roleId},#{resId})
    </foreach>
  </insert>

  <select id="selectAllByRoleUuid" resultType="String">
    select
    menu_uuid
    from pt_roles_menus
    where role_uuid=#{roleUuid,jdbcType=VARCHAR}
  </select>
</mapper>